.App {
  align-items: center;
  background-color: #282c34;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.counter-card {
  background-color: #ffffff;
  border-radius: 5px;
  color: #000000;
  font-size: 20em;
  margin: 30px;
  padding: 12px;
}

.counter-btn {
  background-color: #ffffff;
  border: 0px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 2em;
  height: 45px;
  min-width: 100px;
}

.counter-btn:hover {
  background-color: rgba(255, 255, 255, .7)
}